* {
    box-sizing: border-box;
}

body {
    background-color: brown;
    background-image: url(/image.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;


}